<h1>About 'Tine</h1>
<h4>Edited 2015.04.19</h4>
<p>
  Christine ('Tine) Onayemi is a Web Development student at <a target="_blank" href="http://devbootcamp.com/">Dev Bootcamp</a>, Chicago. She also works as a substitute teacher and Math Team coach at Oak Park and River Forest High School. By the end of 2015, she plans to have the knowledge, skill-set, and emotional intelligence to be successful in her first Junior Developer position.
</p>
<p>
  'Tine earned her BA from Washington University in St. Louis where she majored in African & African American Studies and Psychology and minored in Music. She went on to receive her MEd from DePaul University in Teaching & Learning - Secondary Education with a concentration in Mathematics.
</p>
<p>
  In her spare time, 'Tine is an avid craftswoman, specializing in crochet and cross-stitch. She is a life-long learner who enjoys philosophical conversation, political debate, and stand-up comedy. She used to teach swing dance in Chicago and spent a couple of seasons singing Alto II with the <a target="_blank" href="https://www.stlsymphony.org/en/musicians/choruses/stlsymphony-chorus/">St. Louis Symphony Chorus</a>.
</p>